h1 {
    text-align: center;
    color: darkslateblue;
}

#wrapper {
    height: 400px;
}

.ligne {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 5% 25% 70%;
    margin-bottom: 6px;
    height: 20%;
}

.one {
    grid-column: 1;
}
.two {
    grid-column: 2;
    background-color: midnightblue;
    color: aliceblue;
}
.three {
    grid-column: 3;
    background-color: grey;
}
