h1 {
    text-align: center;
    color: darkslateblue;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1;
    grid-row: 1;
}
.two {
    grid-column: 2 / 9;
    grid-row: 1;
}