h1 {
    text-align: center;
    color: darkslateblue;
}

#wrapper {
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 25% 75%;
}
.one {
    grid-column: 1;
    background-color: midnightblue;
    color: aliceblue;
}
.two {
    grid-column: 2;
    background-color: grey;
}